.heading_text {
  color: #000000;
  font-family: "Jost";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

.heading_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heading_list {
  display: flex;
  justify-content: center;
}

.heading_item {
  margin-right: 38px;
  list-style: none;
}

.heading_link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Jost";
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
}

.heading_link:hover {
  text-decoration: underline;
  color: rgb(41, 158, 169);
}

.heading_button {
  border-radius: 10px;
  background: rgb(41, 158, 169);
  padding: 7px;
}

.heading_link_button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.header_img_container {
  margin-top: 56px;
  text-align: center;
}

.header_img {
  width: 1150px;
  border-radius: 5%;
}

.technic_header_title {
  color: #000000;
  font-family: "Jost";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  margin-top: 96px;
  margin-bottom: 11px;
}

.technic_header_text {
  color: #000000;
  font-family: "Jost";
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  margin-top: 11px;
}

.technic_header {
  text-align: center;
  margin-top: 96px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(118, 118, 118, 0.5);
  border-radius: 50px;
  background: rgb(255, 255, 255);
  width: 360px;
  height: 480px;
}

.card_img {
  width: 300px;
  border-radius: 5%;
}

.card_title {
  margin-top: 12px;
  margin-bottom: 4px;
  color: rgb(0, 0, 0);
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.card_description {
  margin: 0 auto 10px auto;
  color: rgb(99, 99, 99);
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 275px;
}

.card_price {
  margin-bottom: 10px;
}

.price_1 {
  color: rgb(29, 92, 100);
  font-family: "Jost";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  margin-right: 19px;
}

.price_2 {
  color: rgb(66, 66, 66);
  font-family: "Jost";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.card_button {
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(41, 158, 169);
  width: 210px;
  height: 35px;
  cursor: pointer;
}

.card_button a {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 51px;
}

.feedback_header {
  margin-top: 96px;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.feedback_header_title {
  font-family: "Jost";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

.feedback_comment {
  text-align: center;
}

.feedback_comment img {
  border-radius: 50%;
  width: 80px;
}

.feedback_name {
  margin-top: 12px;
  margin-bottom: 0;
  color: #000;
  font-family: "Jost";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
}

.feedback_prof {
  margin-top: 0;
  color: #545454;
  font-family: "Jost";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.feedback_main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feedback_button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.feedback_text {
  color: #000;
  text-align: center;
  font-family: "Jost";
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  width: 1015px;
}

.feedback_radio_but {
  text-align: center;
  margin-top: 25px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.question_title {
  margin-top: 96px;
  margin-bottom: 9px;
  color: #000000;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.question_description {
  margin: 0;
  margin-bottom: 65px;
  font-family: "Jost";
  font-style: normal;
  font-size: 23px;
  font-weight: 300;
}

.align_question_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.question_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(118, 118, 118, 0.5);
  border-radius: 50px;
  background: rgb(255, 255, 255);
  width: 700px;
  height: 400px;
  margin: 0;
}

.in_1 {
  margin-top: 27px;
  border-radius: 30px;
  background: #ffffff;
  border: 1px solid #bababa;
  width: 585px;
  height: 64px;
  color: #696969;
  font-family: "Jost";
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact_title {
  margin-top: 96px;
  margin: 0;
  font-family: "Jost";
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
}

.contact_description {
  font-family: 'Jost';
  font-style: normal;
  font-size: 23px;
  font-weight: 300;
  margin-top: 7px;
  margin-bottom: 57px;
}
